@import './base.css';

html {
  scroll-behavior: smooth;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */
body {
  overflow-y: hidden;
  overflow-x: auto;
}

::-webkit-scrollbar {
  display: none;
}

.btn.btn-link {
  font-size: 1rem;
  background: none;
  border: none;
  color: var(--color-text);
  transition: all 0.3s;
}

.btn.btn-link.active {
  color: var(--color-heading);
}

.btn.btn-link:not(.active):hover {
  border-bottom: 1px solid var(--color-heading);
}
